<!DOCTYPE html>
<html>
  <head>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,900' rel='stylesheet' type='text/css'>    
    <meta charset="utf-8">
    <title>FluxOrgan</title>
  </head>
  <body>
    <h1>FluxOrgan</h1>

    <div id="content"></div>

    <script type="text/javascript">
      React.render(React.createElement(Organ), document.getElementById("content"));
    </script>

    <p>By Jake Nelken</p>
  </body>
</html>
