<!DOCTYPE html>
<html>
  <head>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,900' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <title>FluxOrgan</title>
  </head>
  <body>
    <h1>Synthjammer</h1>

    <div id="content"></div>

    <script type="text/javascript">
      React.render(React.createElement(Organ), document.getElementById("content"));
    </script>
    <p>Use the keys 'A-L' on your keyboard to play.</p>
    <p>Use 'Z' and 'X' to change octaves.</p>
    <br>
    <p>By Jake Nelken</p>
  </body>
</html>
