<!DOCTYPE html>
<html>
  <head>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,900' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <title>FluxOrgan</title>
  </head>
  <body>
    <h1> SYNTHJAMMER </h1>
    <h4>(a bass-heavy organ)</h4>

    <div id="content"></div>

    <script type="text/javascript">
      React.render(React.createElement(Organ), document.getElementById("content"));
    </script>
    <br>
    <p>Use the keys 'A-L' on your keyboard to play.</p>
    <p>"Record" to start recording, "Stop" to stop recording, and "Play" to playback.</p>
    <p>Use 'Z' and 'X' to change octaves.</p>
    <br>    <span className="star">✧</span>
    <p>By Jake Nelken <a href="https://github.com/jnelken/Synthjammer">[Github]</a></p>

  </body>
</html>
